html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cím{
    padding-top: 0%;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(131, 131, 255);
}

#includedContent{
    padding-top: 1%;
}