html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cím{
    padding-top: 0%;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(131, 131, 255);
}

#includedContent{
    padding-top: 0.6%;
}
.kepbox {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.kepbox img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* vagy 'contain', ha teljesen látszódjon a kép */
}